openapi: 3.0.3
info:
  title: Gradient Cloud AI Chat Models API
  version: v1
  description: OpenAI-compatible inference API for Gradient Cloud — the enterprise inference service of Gradient's Open Intelligence Stack, serving open models across a distributed compute network (Parallax) over Gradient's peer-to-peer data motion engine (Lattica). The API implements OpenAI-compatible interfaces for model listing, chat completion, and text completion (streaming and non-streaming). Generated by the API Evangelist enrichment pipeline from the provider's published API Reference Documentation; not an official provider OpenAPI. Verify against the live docs before production use.
  contact:
    name: Gradient
    url: https://docs.gradient.network/enterprise-solutions/gradient-cloud/api-reference-documentation
  x-apievangelist-generated: true
  x-apievangelist-source: https://docs.gradient.network/enterprise-solutions/gradient-cloud/api-reference-documentation.md
servers:
- url: https://apis.gradient.network/api/v1
  description: Gradient Cloud production
security:
- AccessKey: []
tags:
- name: Models
  description: Model listing and management
paths:
  /ai/models:
    get:
      tags:
      - Models
      operationId: listModels
      summary: List all models
      description: List of all available AI models. No authentication required.
      security: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelList'
              example:
                object: list
                data:
                - id: qwen/qwen3-coder-480b-instruct-fp8
                  object: model
                  created: 1640995200
                  owned_by: qwen
                  permission: []
                  root: qwen/qwen3-coder-480b-instruct-fp8
                  parent: null
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Model:
      type: object
      properties:
        id:
          type: string
        object:
          type: string
        created:
          type: integer
        owned_by:
          type: string
        permission:
          type: array
          items:
            type: object
        root:
          type: string
        parent:
          type: string
          nullable: true
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            message:
              type: string
            type:
              type: string
            code:
              type: string
    ModelList:
      type: object
      properties:
        object:
          type: string
        data:
          type: array
          items:
            $ref: '#/components/schemas/Model'
  securitySchemes:
    AccessKey:
      type: http
      scheme: bearer
      description: 'Access Key passed as `Authorization: Bearer <access-key>`.'
